.app{
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  place-items: center;
  display: grid;
}

.wrapper{
  background-color: bisque;
  padding: 100px;
  border-radius: 10px;
}

.wrapper > input {
  padding:10px;
  margin-bottom: 10px;
}